Mental Health

This notebook looks at a survey for Mental Health

ABOUT THE DATA
- Age
- Gender
- Country
- state: If you live in the United States, which state or territory do you     live in?
- self_employed: Are you self-employed?
- family_history: Do you have a family history of mental illness?
- treatment: Have you sought treatment for a mental health condition?
- work_interfere: If you have a mental health condition, do you feel that it   interferes with your work?
- no_employees: How many employees does your company or organization have?
- remote_work: Do you work remotely (outside of an office) at least 50% of     the time?
- tech_company: Is your employer primarily a tech company/organization?
- benefits: Does your employer provide mental health benefits?
- care_options: Do you know the options for mental health care your employer   provides?
- wellness_program: Has your employer ever discussed mental health as part of   an employee wellness program?
- seek_help: Does your employer provide resources to learn more about mental   health issues and how to seek help?
- anonymity: Is your anonymity protected if you choose to take advantage of     mental health or substance abuse treatment resources?
- leave: How easy is it for you to take medical leave for a mental health       condition?
- mental_health_consequence: Do you think that discussing a mental health       issue with your employer would have negative consequences?
- phys_health_consequence: Do you think that discussing a physical health       issue with your employer would have negative consequences?
- coworkers: Would you be willing to discuss a mental health issue with your   coworkers?
- supervisor: Would you be willing to discuss a mental health issue with your   direct supervisor(s)?
- mental_health_interview: Would you bring up a mental health issue with a     potential employer in an interview?
- phys_health_interview: Would you bring up a physical health issue with a     potential employer in an interview?
- mental_vs_physical: Do you feel that your employer takes mental health as     seriously as physical health?
- obs_consequence: Have you heard of or observed negative consequences for     coworkers with mental health conditions in your workplace?

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Reading CSV file
file = pd.read_csv("survey.csv")

In [4]:
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 1259)
MH_df = file
MH_df.head()
# Drop State, Timestamp rename to month display month remove date et temp

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,No,Yes,Yes,Not sure,No,Yes,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,No,No,Don't know,No,Don't know,Don't know,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,No,Yes,No,No,No,No,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,No,Yes,No,Yes,No,No,No,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,Yes,Yes,Yes,No,Don't know,Don't know,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [5]:
MH_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 27 columns):
Timestamp                    1259 non-null object
Age                          1259 non-null int64
Gender                       1259 non-null object
Country                      1259 non-null object
state                        744 non-null object
self_employed                1241 non-null object
family_history               1259 non-null object
treatment                    1259 non-null object
work_interfere               995 non-null object
no_employees                 1259 non-null object
remote_work                  1259 non-null object
tech_company                 1259 non-null object
benefits                     1259 non-null object
care_options                 1259 non-null object
wellness_program             1259 non-null object
seek_help                    1259 non-null object
anonymity                    1259 non-null object
leave                        1259 non-null object
mental_health_consequence    1259 non-null object
phys_health_consequence      1259 non-null object
coworkers                    1259 non-null object
supervisor                   1259 non-null object
mental_health_interview      1259 non-null object
phys_health_interview        1259 non-null object
mental_vs_physical           1259 non-null object
obs_consequence              1259 non-null object
comments                     164 non-null object
dtypes: int64(1), object(26)
memory usage: 265.6+ KB

In [6]:
# Droped columns with to many NA's in it
MH1 = MH_df.drop(columns = ["comments", "work_interfere", "Timestamp"])

In [7]:
MH1.head()

,Age,Gender,Country,state,self_employed,family_history,treatment,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,37,Female,United States,IL,NaN,No,Yes,6-25,No,Yes,Yes,Not sure,No,Yes,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No
1,44,M,United States,IN,NaN,No,No,More than 1000,No,No,Don't know,No,Don't know,Don't know,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know,No
2,32,Male,Canada,NaN,NaN,No,No,6-25,No,Yes,No,No,No,No,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No
3,31,Male,United Kingdom,NaN,NaN,Yes,Yes,26-100,No,Yes,No,Yes,No,No,No,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes
4,31,Male,United States,TX,NaN,No,No,100-500,Yes,Yes,Yes,No,Don't know,Don't know,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No

In [10]:
# Checking Columns with Nan's
MH1.isna().sum()

Age                            0
Gender                         0
Country                        0
state                        515
self_employed                 18
family_history                 0
treatment                      0
no_employees                   0
remote_work                    0
tech_company                   0
benefits                       0
care_options                   0
wellness_program               0
seek_help                      0
anonymity                      0
leave                          0
mental_health_consequence      0
phys_health_consequence        0
coworkers                      0
supervisor                     0
mental_health_interview        0
phys_health_interview          0
mental_vs_physical             0
obs_consequence                0
dtype: int64

In [11]:
# Checking for unique values in gender column
MH1.Gender.unique()

array(['Female', 'M', 'Male', 'male', 'female', 'm', 'Male-ish', 'maile',
       'Trans-female', 'Cis Female', 'F', 'something kinda male?',
       'Cis Male', 'Woman', 'f', 'Mal', 'Male (CIS)', 'queer/she/they',
       'non-binary', 'Femake', 'woman', 'Make', 'Nah', 'All', 'Enby',
       'fluid', 'Genderqueer', 'Female ', 'Androgyne', 'Agender',
       'cis-female/femme', 'Guy (-ish) ^_^', 'male leaning androgynous',
       'Male ', 'Man', 'Trans woman', 'msle', 'Neuter', 'Female (trans)',
       'queer', 'Female (cis)', 'Mail', 'cis male', 'A little about you',
       'Malr', 'p', 'femail', 'Cis Man',
       'ostensibly male, unsure what that really means'], dtype=object)

In [8]:
# Cleaning the Gender Column
gender = MH1["Gender"].str.lower()

males = ["male", "m", "male-ish", "maile", "mal", "male (cis)", "make", "male ", "man","msle", "mail", "malr","cis man", "Cis Male", "cis male"]
trans = ["trans-female", "something kinda male?", "queer/she/they", "non-binary","nah", "all", "enby", "fluid", "genderqueer", "androgyne", "agender", "male leaning androgynous", "guy (-ish) ^_^", "trans woman", "neuter", "female (trans)", "queer", "ostensibly male, unsure what that really means"]           
females = ["cis female", "f", "female", "woman",  "femake", "female ","cis-female/femme", "female (cis)", "femail"]

for (row, col) in MH1.iterrows():

    if str.lower(col.Gender) in males:
        MH1['Gender'].replace(to_replace=col.Gender, value='Male', inplace=True)

    if str.lower(col.Gender) in females:
        MH1['Gender'].replace(to_replace=col.Gender, value='Female', inplace=True)

    if str.lower(col.Gender) in trans:
        MH1['Gender'].replace(to_replace=col.Gender, value='Trans', inplace=True)
MH1["Gender"].unique()

array(['Female', 'Male', 'Trans', 'A little about you', 'p'], dtype=object)

In [9]:
# Getting rid of "A little about you" and "p"
str_list = ['A little about you', 'p']
MH1 = MH1[~MH1['Gender'].isin(str_list)]

MH1["Gender"].unique()

array(['Female', 'Male', 'Trans'], dtype=object)

In [10]:
MH1["Gender"].head()

0    Female
1      Male
2      Male
3      Male
4      Male
Name: Gender, dtype: object

In [11]:
# Checking Age column
MH1.Age.unique()

array([         37,          44,          32,          31,          33,
                35,          39,          42,          23,          29,
                36,          27,          46,          41,          34,
                30,          40,          38,          50,          24,
                18,          28,          26,          22,          19,
                25,          45,          21,         -29,          43,
                56,          60,          54,         329,          55,
       99999999999,          48,          20,          57,          58,
                47,          62,          51,          65,          49,
             -1726,           5,          53,          61,          11,
                72])

In [12]:
#complete missing age with mean
MH1['Age'].fillna(MH1['Age'].median(), inplace = True)

# Fill with median() values < 18 and > 120
s = pd.Series(MH1['Age'])
s[s<18] = MH1['Age'].median()
MH1['Age'] = s
s = pd.Series(MH1['Age'])
s[s>120] = MH1['Age'].median()
MH1['Age'] = s

#Ranges of Age
MH1['age_range'] = pd.cut(MH1['Age'], [0,20,30,65,100], labels=["0-20", "21-30", "31-65", "66-100"], include_lowest=True)
MH1["Age"].unique()

array([37, 44, 32, 31, 33, 35, 39, 42, 23, 29, 36, 27, 46, 41, 34, 30, 40,
       38, 50, 24, 18, 28, 26, 22, 19, 25, 45, 21, 43, 56, 60, 54, 55, 48,
       20, 57, 58, 47, 62, 51, 65, 49, 53, 61, 72])

In [13]:
# Checking Self employed 
MH1["self_employed"].unique()

array([nan, 'Yes', 'No'], dtype=object)

In [14]:
MH1["self_employed"].isna().count()

1257

In [15]:
MH1.head()

,Age,Gender,Country,state,self_employed,family_history,treatment,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,age_range
0,37,Female,United States,IL,NaN,No,Yes,6-25,No,Yes,Yes,Not sure,No,Yes,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,31-65
1,44,Male,United States,IN,NaN,No,No,More than 1000,No,No,Don't know,No,Don't know,Don't know,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know,No,31-65
2,32,Male,Canada,NaN,NaN,No,No,6-25,No,Yes,No,No,No,No,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,31-65
3,31,Male,United Kingdom,NaN,NaN,Yes,Yes,26-100,No,Yes,No,Yes,No,No,No,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,31-65
4,31,Male,United States,TX,NaN,No,No,100-500,Yes,Yes,Yes,No,Don't know,Don't know,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,31-65

In [38]:
MH1["Age"].describe()

count    1257.000000
mean       32.071599
std         7.271222
min        18.000000
25%        27.000000
50%        31.000000
75%        36.000000
max        72.000000
Name: Age, dtype: float64

In [16]:
# Checking Country and State NaN's
MH1.loc[:, 'Country':'state'].head(30)

           Country state
0    United States    IL
1    United States    IN
2           Canada   NaN
3   United Kingdom   NaN
4    United States    TX
5    United States    TN
6    United States    MI
7           Canada   NaN
8    United States    IL
9           Canada   NaN
10   United States    OH
11        Bulgaria   NaN
12   United States    CA
13   United States    CT
14          Canada   NaN
15   United States    IL
16  United Kingdom   NaN
17   United States    TN
18   United States    MD
19          France   NaN
20   United States    NY
21   United States    NC
22   United States    MA
23   United States    IA
24   United States    CA
25   United States    TN
26   United States    TN
27   United States    CA
28   United States    OH
29  United Kingdom   NaN

In [9]:
# Replacing nan in state to 0
MH1['state'] = MH1['state'].replace(np.nan, "NS")

In [17]:
MH1.head(10)

,Age,Gender,Country,state,self_employed,family_history,treatment,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,age_range
0,37,Female,United States,IL,NaN,No,Yes,6-25,No,Yes,Yes,Not sure,No,Yes,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,31-65
1,44,Male,United States,IN,NaN,No,No,More than 1000,No,No,Don't know,No,Don't know,Don't know,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know,No,31-65
2,32,Male,Canada,NaN,NaN,No,No,6-25,No,Yes,No,No,No,No,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,31-65
3,31,Male,United Kingdom,NaN,NaN,Yes,Yes,26-100,No,Yes,No,Yes,No,No,No,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,31-65
4,31,Male,United States,TX,NaN,No,No,100-500,Yes,Yes,Yes,No,Don't know,Don't know,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,31-65
5,33,Male,United States,TN,NaN,Yes,No,6-25,No,Yes,Yes,Not sure,No,Don't know,Don't know,Don't know,No,No,Yes,Yes,No,Maybe,Don't know,No,31-65
6,35,Female,United States,MI,NaN,Yes,Yes,1-5,Yes,Yes,No,No,No,No,No,Somewhat difficult,Maybe,Maybe,Some of them,No,No,No,Don't know,No,31-65
7,39,Male,Canada,NaN,NaN,No,No,1-5,Yes,Yes,No,Yes,No,No,Yes,Don't know,No,No,No,No,No,No,No,No,31-65
8,42,Female,United States,IL,NaN,Yes,Yes,100-500,No,Yes,Yes,Yes,No,No,No,Very difficult,Maybe,No,Yes,Yes,No,Maybe,No,No,31-65
9,23,Male,Canada,NaN,NaN,No,No,26-100,No,Yes,Don't know,No,Don't know,Don't know,Don't know,Don't know,No,No,Yes,Yes,Maybe,Maybe,Yes,No,21-30

In [118]:
# Checking  
MH1.dtypes

Age                             int64
Gender                         object
Country                        object
state                          object
self_employed                  object
family_history                 object
treatment                      object
no_employees                   object
remote_work                    object
tech_company                   object
benefits                       object
care_options                   object
wellness_program               object
seek_help                      object
anonymity                      object
leave                          object
mental_health_consequence      object
phys_health_consequence        object
coworkers                      object
supervisor                     object
mental_health_interview        object
phys_health_interview          object
mental_vs_physical             object
obs_consequence                object
age_range                    category
dtype: object

In [18]:
MH1.head(5)

,Age,Gender,Country,state,self_employed,family_history,treatment,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,age_range
0,37,Female,United States,IL,NaN,No,Yes,6-25,No,Yes,Yes,Not sure,No,Yes,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,31-65
1,44,Male,United States,IN,NaN,No,No,More than 1000,No,No,Don't know,No,Don't know,Don't know,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know,No,31-65
2,32,Male,Canada,NaN,NaN,No,No,6-25,No,Yes,No,No,No,No,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,31-65
3,31,Male,United Kingdom,NaN,NaN,Yes,Yes,26-100,No,Yes,No,Yes,No,No,No,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,31-65
4,31,Male,United States,TX,NaN,No,No,100-500,Yes,Yes,Yes,No,Don't know,Don't know,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,31-65

In [116]:
# Checking unique data of each column
MH1.age_range.unique()

[31-65, 21-30, 0-20, 66-100]
Categories (4, object): [0-20 < 21-30 < 31-65 < 66-100]

Note on Columns / Change info
- KEEP: Gender: Change to Integer F = 0, M = 1, T = 3
- DONE: Country: Object
- DONE: State: Obj, replace 0 with a letter (NS= No State)
- TODO: Self Employed: [obj, nan, yes, no] Change to Boolean change nan ?*
- TODO: Family History: [Obj Yes No] --> Change to Booleans Yes = 1, No = 0
- TODO: Treatment: [Obj, Yes No] --> Change to Boolean Yes = 1, No = 0
- KEEP: No_Employees: Obj
- TODO: Remote Work: [Obj, Yes No] --> Change to Boolean Yes = 1, No = 0
- TODO: Tech Company: [Obj Yes No] --> Change to Boolean Yes = 1, No = 0
- KEEP: Benefits: [Obj, Yes No Don't know] 
- KEEP: Care Option: [Obj, Yes No Not Sure] 
- KEEP: Wellness Program: [Obj, Yes No Don't know] 
- KEEP: Seek Help: [Obj, Yes No Dont't know] 
- KEEP: Anonymity: [Obj, Yes No Don't know] 
- ?:    Leave: [Obj,Somewhat easy, Don't know, Somewhat difficult,
         Very difficult', Very easy] --> Keep as is Maybe drop it.****
- TODO: Mental Health: [Obj, 'No', 'Maybe', 'Yes'] Look Up. Change to Int?**
- TODO: Phys Health: [Obj, 'No', 'Yes', 'Maybe'] --> Look Up Change to Int?**
- TODO: Coworkers: [Obj, 'Some of them', 'No', 'Yes'] --> Look Up**
- TODO: Supervisor: [Obj, 'Yes', 'No', 'Some of them'] --> Loop Up**
- TODO: MH Interview: [Obj, 'No', 'Yes', 'Maybe'] --> Look Up
- TODO: PH Interview: [Obj, 'Maybe', 'No', 'Yes'] --> Look Up
- TODO: M v. P: [Obj, 'Yes', "Don't know", 'No'] --> Look Up
- TODO: Obs: [Obj, 'No', 'Yes'] --> Think it means yes MI, change to Boolean Yes = =1, No=0
- TODO: Age Range: Drop Column?

Todo: Look up ways to change info on column and save that as new data frame

In [12]:
# TODO: Self Employed: [obj, nan, yes, no] Change to Boolean change nan ?*
# TODO: Family History: [Obj Yes No] --> Change to Booleans Yes = 1, No = 0
MH1["family_history"].astype(bool)
# TODO: Treatment: [Obj, Yes No] --> Change to Boolean Yes = 1, No = 0
# TODO: Remote Work: [Obj, Yes No] --> Change to Boolean Yes = 1, No = 0
# TODO: Tech Company: [Obj Yes No] --> Change to Boolean Yes = 1, No = 0
# TODO: Mental Health: [Obj, 'No', 'Maybe', 'Yes'] Look Up. Change to Int?**
# TODO: Phys Health: [Obj, 'No', 'Yes', 'Maybe'] --> Look Up Change to Int?**
# TODO: Coworkers: [Obj, 'Some of them', 'No', 'Yes'] --> Look Up**
# TODO: Supervisor: [Obj, 'Yes', 'No', 'Some of them'] --> Loop Up**
# TODO: MH Interview: [Obj, 'No', 'Yes', 'Maybe'] --> Look Up
# TODO: PH Interview: [Obj, 'Maybe', 'No', 'Yes'] --> Look Up
# TODO: M v. P: [Obj, 'Yes', "Don't know", 'No'] --> Look Up
# TODO: Obs: [Obj, 'No', 'Yes'] --> Think it means yes MI, change to Boolean Yes = =1, No=0
# TODO: Age Range: Drop Column?

0       True
1       True
2       True
3       True
4       True
5       True
6       True
7       True
8       True
9       True
10      True
11      True
12      True
13      True
14      True
15      True
16      True
17      True
18      True
19      True
20      True
21      True
22      True
23      True
24      True
25      True
26      True
27      True
28      True
29      True
30      True
31      True
32      True
33      True
34      True
35      True
36      True
37      True
38      True
39      True
40      True
41      True
42      True
43      True
44      True
45      True
46      True
47      True
48      True
49      True
50      True
51      True
52      True
53      True
54      True
55      True
56      True
57      True
58      True
59      True
60      True
61      True
62      True
63      True
64      True
65      True
66      True
67      True
68      True
69      True
70      True
71      True
72      True
73      True
74      True
75      True
76      True
77      True
78      True
79      True
80      True
81      True
82      True
83      True
84      True
85      True
86      True
87      True
88      True
89      True
90      True
91      True
92      True
93      True
94      True
95      True
96      True
97      True
98      True
99      True
100     True
101     True
102     True
103     True
104     True
105     True
106     True
107     True
108     True
109     True
110     True
111     True
112     True
113     True
114     True
115     True
116     True
117     True
118     True
119     True
120     True
121     True
122     True
123     True
124     True
125     True
126     True
127     True
128     True
129     True
130     True
131     True
132     True
133     True
134     True
135     True
136     True
137     True
138     True
139     True
140     True
141     True
142     True
143     True
144     True
145     True
146     True
147     True
148     True
149     True
150     True
151     True
152     True
153     True
154     True
155     True
156     True
157     True
158     True
159     True
160     True
161     True
162     True
163     True
164     True
165     True
166     True
167     True
168     True
169     True
170     True
171     True
172     True
173     True
174     True
175     True
176     True
177     True
178     True
179     True
180     True
181     True
182     True
183     True
184     True
185     True
186     True
187     True
188     True
189     True
190     True
191     True
192     True
193     True
194     True
195     True
196     True
197     True
198     True
199     True
200     True
201     True
202     True
203     True
204     True
205     True
206     True
207     True
208     True
209     True
210     True
211     True
212     True
213     True
214     True
215     True
216     True
217     True
218     True
219     True
220     True
221     True
222     True
223     True
224     True
225     True
226     True
227     True
228     True
229     True
230     True
231     True
232     True
233     True
234     True
235     True
236     True
237     True
238     True
239     True
240     True
241     True
242     True
243     True
244     True
245     True
246     True
247     True
248     True
249     True
250     True
251     True
252     True
253     True
254     True
255     True
256     True
257     True
258     True
259     True
260     True
261     True
262     True
263     True
264     True
265     True
266     True
267     True
268     True
269     True
270     True
271     True
272     True
273     True
274     True
275     True
276     True
277     True
278     True
279     True
280     True
281     True
282     True
283     True
284     True
285     True
286     True
287     True
288     True
289     True
290     True
291     True
292     True
293     True
294     True
295     True
296     True
297     True
298     True
299     True
300     True
301     True
302     True
303     True
304     True
305     True
306     True
307     True
308     True
309     True
310     True
311     True
312     True
313     True
314     True
315     True
316     True
317     True
318     True
319     True
320     True
321     True
322     True
323     True
324     True
325     True
326     True
327     True
328     True
329     True
330     True
331     True
332     True
333     True
334     True
335     True
336     True
337     True
338     True
339     True
340     True
341     True
342     True
343     True
344     True
345     True
346     True
347     True
348     True
349     True
350     True
351     True
352     True
353     True
354     True
355     True
356     True
357     True
358     True
359     True
360     True
361     True
362     True
363     True
364     True
365     True
366     True
367     True
368     True
369     True
370     True
371     True
372     True
373     True
374     True
375     True
376     True
377     True
378     True
379     True
380     True
381     True
382     True
383     True
384     True
385     True
386     True
387     True
388     True
389     True
390     True
391     True
392     True
393     True
394     True
395     True
396     True
397     True
398     True
399     True
400     True
401     True
402     True
403     True
404     True
405     True
406     True
407     True
408     True
409     True
410     True
411     True
412     True
413     True
414     True
415     True
416     True
417     True
418     True
419     True
420     True
421     True
422     True
423     True
424     True
425     True
426     True
427     True
428     True
429     True
430     True
431     True
432     True
433     True
434     True
435     True
436     True
437     True
438     True
439     True
440     True
441     True
442     True
443     True
444     True
445     True
446     True
447     True
448     True
449     True
450     True
451     True
452     True
453     True
454     True
455     True
456     True
457     True
458     True
459     True
460     True
461     True
462     True
463     True
464     True
465     True
466     True
467     True
468     True
469     True
470     True
471     True
472     True
473     True
474     True
475     True
476     True
477     True
478     True
479     True
480     True
481     True
482     True
483     True
484     True
485     True
486     True
487     True
488     True
489     True
490     True
491     True
492     True
493     True
494     True
495     True
496     True
497     True
498     True
499     True
500     True
501     True
502     True
503     True
504     True
505     True
506     True
507     True
508     True
509     True
510     True
511     True
512     True
513     True
514     True
515     True
516     True
517     True
518     True
519     True
520     True
521     True
522     True
523     True
524     True
525     True
526     True
527     True
528     True
529     True
530     True
531     True
532     True
533     True
534     True
535     True
536     True
537     True
538     True
539     True
540     True
541     True
542     True
543     True
544     True
545     True
546     True
547     True
548     True
549     True
550     True
551     True
552     True
553     True
554     True
555     True
556     True
557     True
558     True
559     True
560     True
561     True
562     True
563     True
564     True
565     True
566     True
567     True
568     True
569     True
570     True
571     True
572     True
573     True
574     True
575     True
576     True
577     True
578     True
579     True
580     True
581     True
582     True
583     True
584     True
585     True
586     True
587     True
588     True
589     True
590     True
591     True
592     True
593     True
594     True
595     True
596     True
597     True
598     True
599     True
600     True
601     True
602     True
603     True
604     True
605     True
606     True
607     True
608     True
609     True
610     True
611     True
612     True
613     True
614     True
615     True
616     True
617     True
618     True
619     True
620     True
621     True
622     True
623     True
624     True
625     True
626     True
627     True
628     True
629     True
630     True
631     True
632     True
633     True
634     True
635     True
636     True
637     True
638     True
639     True
640     True
641     True
642     True
643     True
644     True
645     True
646     True
647     True
648     True
649     True
650     True
651     True
652     True
653     True
654     True
655     True
656     True
657     True
658     True
659     True
660     True
661     True
662     True
663     True
664     True
665     True
666     True
667     True
668     True
669     True
670     True
671     True
672     True
673     True
674     True
675     True
676     True
677     True
678     True
679     True
680     True
681     True
682     True
683     True
684     True
685     True
686     True
687     True
688     True
689     True
690     True
691     True
692     True
693     True
694     True
695     True
696     True
697     True
698     True
699     True
700     True
701     True
702     True
703     True
704     True
705     True
706     True
707     True
708     True
709     True
710     True
711     True
712     True
713     True
714     True
715     True
716     True
717     True
718     True
719     True
720     True
721     True
722     True
723     True
724     True
725     True
726     True
727     True
728     True
729     True
730     True
731     True
732     True
733     True
734     True
735     True
736     True
737     True
738     True
739     True
740     True
741     True
742     True
743     True
744     True
745     True
746     True
747     True
748     True
749     True
750     True
751     True
752     True
753     True
754     True
755     True
756     True
757     True
758     True
759     True
760     True
761     True
762     True
763     True
764     True
765     True
766     True
767     True
768     True
769     True
770     True
771     True
772     True
773     True
774     True
775     True
776     True
777     True
778     True
779     True
780     True
781     True
782     True
783     True
784     True
785     True
786     True
787     True
788     True
789     True
790     True
791     True
792     True
793     True
794     True
795     True
796     True
797     True
798     True
799     True
800     True
801     True
802     True
803     True
804     True
805     True
806     True
807     True
808     True
809     True
810     True
811     True
812     True
813     True
814     True
815     True
816     True
817     True
818     True
819     True
820     True
821     True
822     True
823     True
824     True
825     True
826     True
827     True
828     True
829     True
830     True
831     True
832     True
833     True
834     True
835     True
836     True
837     True
838     True
839     True
840     True
841     True
842     True
843     True
844     True
845     True
846     True
847     True
848     True
849     True
850     True
851     True
852     True
853     True
854     True
855     True
856     True
857     True
858     True
859     True
860     True
861     True
862     True
863     True
864     True
865     True
866     True
867     True
868     True
869     True
870     True
871     True
872     True
873     True
874     True
875     True
876     True
877     True
878     True
879     True
880     True
881     True
882     True
883     True
884     True
885     True
886     True
887     True
888     True
889     True
890     True
891     True
892     True
893     True
894     True
895     True
896     True
897     True
898     True
899     True
900     True
901     True
902     True
903     True
904     True
905     True
906     True
907     True
908     True
909     True
910     True
911     True
912     True
913     True
914     True
915     True
916     True
917     True
918     True
919     True
920     True
921     True
922     True
923     True
924     True
925     True
926     True
927     True
928     True
929     True
930     True
931     True
932     True
933     True
934     True
935     True
936     True
937     True
938     True
939     True
940     True
941     True
942     True
943     True
944     True
945     True
946     True
947     True
948     True
949     True
950     True
951     True
952     True
953     True
954     True
955     True
956     True
957     True
958     True
959     True
960     True
961     True
962     True
963     True
964     True
965     True
966     True
967     True
968     True
969     True
970     True
971     True
972     True
973     True
974     True
975     True
976     True
977     True
978     True
979     True
980     True
981     True
982     True
983     True
984     True
985     True
986     True
987     True
988     True
990     True
991     True
992     True
993     True
994     True
995     True
996     True
997     True
998     True
999     True
1000    True
1001    True
1002    True
1003    True
1004    True
1005    True
1006    True
1007    True
1008    True
1009    True
1010    True
1011    True
1012    True
1013    True
1014    True
1015    True
1016    True
1017    True
1018    True
1019    True
1020    True
1021    True
1022    True
1023    True
1024    True
1025    True
1026    True
1027    True
1028    True
1029    True
1030    True
1031    True
1032    True
1033    True
1034    True
1035    True
1036    True
1037    True
1038    True
1039    True
1040    True
1041    True
1042    True
1043    True
1044    True
1045    True
1046    True
1047    True
1048    True
1049    True
1050    True
1051    True
1052    True
1053    True
1054    True
1055    True
1056    True
1057    True
1058    True
1059    True
1060    True
1061    True
1062    True
1063    True
1064    True
1065    True
1066    True
1067    True
1068    True
1069    True
1070    True
1071    True
1072    True
1073    True
1074    True
1075    True
1076    True
1077    True
1078    True
1079    True
1080    True
1081    True
1082    True
1083    True
1084    True
1085    True
1086    True
1087    True
1088    True
1089    True
1090    True
1091    True
1092    True
1093    True
1094    True
1095    True
1096    True
1097    True
1098    True
1099    True
1100    True
1101    True
1102    True
1103    True
1104    True
1105    True
1106    True
1107    True
1108    True
1109    True
1110    True
1111    True
1112    True
1113    True
1114    True
1115    True
1116    True
1117    True
1118    True
1119    True
1120    True
1121    True
1122    True
1123    True
1124    True
1125    True
1126    True
1128    True
1129    True
1130    True
1131    True
1132    True
1133    True
1134    True
1135    True
1136    True
1137    True
1138    True
1139    True
1140    True
1141    True
1142    True
1143    True
1144    True
1145    True
1146    True
1147    True
1148    True
1149    True
1150    True
1151    True
1152    True
1153    True
1154    True
1155    True
1156    True
1157    True
1158    True
1159    True
1160    True
1161    True
1162    True
1163    True
1164    True
1165    True
1166    True
1167    True
1168    True
1169    True
1170    True
1171    True
1172    True
1173    True
1174    True
1175    True
1176    True
1177    True
1178    True
1179    True
1180    True
1181    True
1182    True
1183    True
1184    True
1185    True
1186    True
1187    True
1188    True
1189    True
1190    True
1191    True
1192    True
1193    True
1194    True
1195    True
1196    True
1197    True
1198    True
1199    True
1200    True
1201    True
1202    True
1203    True
1204    True
1205    True
1206    True
1207    True
1208    True
1209    True
1210    True
1211    True
1212    True
1213    True
1214    True
1215    True
1216    True
1217    True
1218    True
1219    True
1220    True
1221    True
1222    True
1223    True
1224    True
1225    True
1226    True
1227    True
1228    True
1229    True
1230    True
1231    True
1232    True
1233    True
1234    True
1235    True
1236    True
1237    True
1238    True
1239    True
1240    True
1241    True
1242    True
1243    True
1244    True
1245    True
1246    True
1247    True
1248    True
1249    True
1250    True
1251    True
1252    True
1253    True
1254    True
1255    True
1256    True
1257    True
1258    True
Name: family_history, dtype: bool

In [16]:
MH1.to_csv("mental_health.csv", index=False, header=True)

In [27]:
#MH1["remote_work"].count()
MH2 = MH1.loc[MH1['remote_work'] == "Yes"]

In [32]:
MH2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 374 entries, 4 to 1257
Data columns (total 25 columns):
Age                          374 non-null int64
Gender                       374 non-null object
Country                      374 non-null object
state                        232 non-null object
self_employed                368 non-null object
family_history               374 non-null object
treatment                    374 non-null object
no_employees                 374 non-null object
remote_work                  374 non-null object
tech_company                 374 non-null object
benefits                     374 non-null object
care_options                 374 non-null object
wellness_program             374 non-null object
seek_help                    374 non-null object
anonymity                    374 non-null object
leave                        374 non-null object
mental_health_consequence    374 non-null object
phys_health_consequence      374 non-null object
coworkers                    374 non-null object
supervisor                   374 non-null object
mental_health_interview      374 non-null object
phys_health_interview        374 non-null object
mental_vs_physical           374 non-null object
obs_consequence              374 non-null object
age_range                    374 non-null category
dtypes: category(1), int64(1), object(23)
memory usage: 73.6+ KB

In [36]:
MH2.to_csv("remote_work.csv", index=False, header=True)

In [33]:
MH3 = MH1.loc[MH1['remote_work'] == "No"]
MH3.head()

,Age,Gender,Country,state,self_employed,family_history,treatment,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,age_range
0,37,Female,United States,IL,NaN,No,Yes,6-25,No,Yes,Yes,Not sure,No,Yes,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,31-65
1,44,Male,United States,IN,NaN,No,No,More than 1000,No,No,Don't know,No,Don't know,Don't know,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know,No,31-65
2,32,Male,Canada,NaN,NaN,No,No,6-25,No,Yes,No,No,No,No,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,31-65
3,31,Male,United Kingdom,NaN,NaN,Yes,Yes,26-100,No,Yes,No,Yes,No,No,No,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,31-65
5,33,Male,United States,TN,NaN,Yes,No,6-25,No,Yes,Yes,Not sure,No,Don't know,Don't know,Don't know,No,No,Yes,Yes,No,Maybe,Don't know,No,31-65

In [34]:
MH3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 883 entries, 0 to 1258
Data columns (total 25 columns):
Age                          883 non-null int64
Gender                       883 non-null object
Country                      883 non-null object
state                        510 non-null object
self_employed                871 non-null object
family_history               883 non-null object
treatment                    883 non-null object
no_employees                 883 non-null object
remote_work                  883 non-null object
tech_company                 883 non-null object
benefits                     883 non-null object
care_options                 883 non-null object
wellness_program             883 non-null object
seek_help                    883 non-null object
anonymity                    883 non-null object
leave                        883 non-null object
mental_health_consequence    883 non-null object
phys_health_consequence      883 non-null object
coworkers                    883 non-null object
supervisor                   883 non-null object
mental_health_interview      883 non-null object
phys_health_interview        883 non-null object
mental_vs_physical           883 non-null object
obs_consequence              883 non-null object
age_range                    883 non-null category
dtypes: category(1), int64(1), object(23)
memory usage: 173.5+ KB

In [37]:
MH3.to_csv("non_remote_work.csv", index=False, header=True)